@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  --bg-header-table: #006C6C;
  --text-color-header-table: white;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.table {
  border-collapse: collapse;
  width: 100%;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 9px;
  cursor: pointer;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  font-weight: normal;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--bg-header-table);
  color: var(--text-color-header-table);
}

.actions-buttons {
  text-align: center;
  width: 220px;
}

button {
  background-color: #006C6C; 
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  outline: none;
  bbva-core-icon {
    height: 13px;
    width: 13px;
    margin-right: 5px;
    position: relative;
    top: -1px;
    left: -2px;
  }
}

button:hover {
  opacity: 0.85;
}

.info {background-color: #49A5E6;} 
.danger {background-color: #C0475E;} 
.dark {background-color: #e7e7e7; color: black;} 
.gray {background-color: #555555;} 

.non-result {
  width: 100%;
  margin-top: 5px;
  padding: 12px 10px;
  text-align: center;
  border: 1px solid #e1e1e1;
  font-size: 15px;
}

.content-table {
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}